<section class="content-header">
  <h1>
    LLEGADAS TARDE
    <small></small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- TITULO FORMULARIO -->
  <div class="box box-default">


    <form role="form" [formGroup]="formb">
      <!--<tabset>-->
      <div class="box box-success">
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <!--Buscador dinzamizadora-->
              <!--   <label>Buscar dinamizadora</label> -->
              <div class="form-group">
                <h3 class="box-title">Buscador dinamizador</h3>
                <div class="input-group margin">
                  <input type="text" class="form-control" id="identificacion" formControlName="identificacion" placeholder="Digíte número de Identificación ...">
                  <div *ngIf="identificacion.invalid && (identificacion.dirty || identificacion.touched)">
                    <div class="label-error" *ngIf="identificacion.errors['required']">
                      El campo buscar no debe estar vacio
                    </div>
                    <div class="label-error" *ngIf="identificacion.errors['pattern']">
                      Formato no valido
                    </div>
                  </div>
                  <span class="input-group-btn">
                    <button type="button" (click)="buscaLlegadatarde()" class="btn btn-success btn-flat " [disabled]="!identificacion.valid">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!--label primer Nombre-->
          <div class="col-md-6 ">
            <div class="form-group">
              <div class="form-group">
                <label>Primer Nombre</label>
                <input type="text" class="form-control" id="primernombre" formControlName="primernombre" placeholder="Primer Nombre..." [attr.disabled]="true">
              </div>
            </div>
          </div>
          <!--label Segundo Nombre-->
          <div class="col-md-6 ">
            <div class="form-group">
              <div class="form-group">
                <label>Segundo Nombre</label>
                <input type="text" class="form-control" id="segundonombre" formControlName="segundonombre" placeholder="Segundo Nombre..."
                  [attr.disabled]="true">
              </div>
            </div>
          </div>
          <!--Primer Apellido -->
          <div class="col-md-6 ">
            <div class="form-group">
              <div class="form-group">
                <label>Primer Apellido</label>
                <input type="text" class="form-control" id="primerapellido" formControlName="primerapellido" placeholder="Primer Apellido ..."
                  [attr.disabled]="true">
              </div>
            </div>
          </div>
          <!--Segundo Apellido -->
          <div class="col-md-6 ">
            <div class="form-group">
              <div class="form-group">
                <label>Segundo Apellido</label>
                <input type="text" class="form-control" id="segundoapellido" formControlName="segundoapellido" placeholder="Segundo Apellido ..."
                  [attr.disabled]="true">
              </div>
            </div>
          </div>
          <!--Tipo documento-->
          <div class="col-md-6 ">
            <div class="form-group">
              <div class="form-group">
                <label>Tipo de Documento</label>
                <input type="text" class="form-control" id="tipodocumento" formControlName="tipodocumento" placeholder="Tipo de documento ..."
                  [attr.disabled]="true">
              </div>
            </div>
          </div>
          <!--Número documento-->
          <div class="col-md-6 ">
            <div class="form-group">
              <div class="form-group">
                <label>Número de Documento</label>
                <input type="text" class="form-control" id="numerodocumento" formControlName="numerodocumento" placeholder="Número de documento ..."
                  [attr.disabled]="true">
              </div>
            </div>
          </div>
          <!--cargo-->
          <div class="col-md-6 ">
            <div class="form-group">
              <div class="form-group">
                <label>Cargo</label>
                <input type="text" class="form-control" id="Cargo" formControlName="cargo" placeholder="cargo ..." [attr.disabled]="true">
              </div>
            </div>
          </div>

          <!--area-->
          <div class="col-md-6 ">
            <div class="form-group">
              <div class="form-group">
                <label>Área</label>
                <input type="text" class="form-control" id="area" formControlName="area" placeholder="Área ..." [attr.disabled]="true">
              </div>
            </div>
          </div>


          <div class="col-md-6 ">
            <div class="form-group">
              <label>Tipo retardo</label>
              <span class="text-danger">*</span>
              <ng-select style="z-index: 200;" placeholder="Seleccione" id="tipotardanza" formControlName="tipotardanza"  [options]="lstTipoTardanza"
                [allowClear]="true">
              </ng-select>
              <div *ngIf="tipotardanza.invalid && (tipotardanza.dirty || tipotardanza.touched)">
                <div class="label-error" *ngIf=" tipotardanza.errors['required']">
                  El campo Tipo Examen no debe estar vacío
                </div>
                <div class="label-error" *ngIf="tipotardanza['pattern']">
                  El Tipo Examen no puede contener números
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </form>
  </div>


  <div class="box box-default">
    <!-- fin buscador -->
    <form role="form" [formGroup]="form">
      <!--Inicio de formularios-->
      <div class="box-body">
        <!--inicio de fila-->
        <div class="row">
          <!--inicio de la columna-->
          <div class="col-md-6">



            <!-- inicio form-grup 3 -->
            <div class="form-group">
              <label>Fecha*</label>
              <div class="input-group">
                <span style="color: rgb(5, 150, 0)" class="input-group-addon">
                  <i class="fa fa-calendar fa-1x"></i>
                </span>
                <input type="text" class="form-control" id="fecha" formControlName="fecha" placeholder="mm/dd/yyyy" #dp="bsDatepicker" bsDatepicker>
                <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
                  <div class="label-error" *ngIf="fecha.errors['required']">
                    El campo Fecha no debe estar vacio
                  </div>
                  <div class="label-error" *ngIf="fecha.errors['pattern']">
                    El Fecha no puede contener números
                  </div>
                </div>
              </div>
            </div>


          </div>
          <!-- fin form-grup 3 -->
          <!-- inicio form-grup 2 -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Hora de entrada* </label>
              <span class="text-danger"></span>
              <!-- <input type="time" class="form-control" id="horaentrada" formControlName="horaentrada" placeholder="hora"> -->
              <!-- <timepicker type="time" id="horaentrada"  formControlName="horaentrada"></timepicker> -->
              <input type="time" class="form-control" id="horaentrada" formControlName="horaentrada" placeholder="hora">
              <div *ngIf="horaentrada.invalid && (horaentrada.dirty || horaentrada.touched)">
                <div class="label-error" *ngIf="horaentrada.errors['required']">
                  El campo hora de entrada no debe estar vacio
                </div>
              </div>
            </div>
          </div>



          <!-- Detalles -->
          <div class="col-md-12">
            <div class="form-group">
              <label>Detalles*</label>
              <span class="text-danger"></span>
              <textarea id="detalle" class="form-control" formControlName="detalle" placeholder="Enter ..."></textarea>
              <div *ngIf="detalle.invalid && (detalle.dirty || detalle.touched)">
                <div class="label-error" *ngIf="detalle.errors['required']">
                  El campo detalle no debe estar vacio
                </div>
              </div>
            </div>
            <!-- fin form-grup2 -->
            <!--FIN de la columna-->
          </div>
        </div>
        <!--FIN de formularios-->
      </div>
      <!--botonera-->
      <div class="margin pull-right">
        <div class="btn-group">
          <button class="btn btn-danger" (click)="cancelar()">
            <span class="fa fa-close" aria-hidden="true"></span> Cancelar
          </button>
        </div>&nbsp;
        <div class="btn-group">
          <button type="button" (click)="guardarllegada()" [disabled]="!form.valid" class="btn btn-success">
            <span class="fa fa-save" aria-hidden="true"></span> Guardar</button>
        </div>

      </div>
      <!--fin de botonera-->


    </form>
  </div>


  <div>
    <div class="row">

      <div class="col-xs-12 col-md-12">
        <pre class="code-preview">{{formb.value | json}}</pre>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <pre class="code-preview">{{form.value | json}}</pre>
      </div>
    </div>
  </div>


</section>