/* You can add global styles to this file, and also import other style files */
/* Validaciones*/
.label-error{
    color:red;
    font-size: 0.8em;
  }
  
  input.ng-invalid.ng-touched{
    border-left: 3px solid red;
  }
  input.ng-valid.ng-touched {
    border-left: 3px solid green;
  }
  
  select.ng-invalid.ng-touched{
    border-left: 3px solid red;
  }
  select.ng-valid.ng-touched {
  border-left: 3px solid green;
  }

  /* Animaciones */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}