<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Llegadas tarde
    <small>Listado</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="./dashboard">
        <i class="fa fa-dashboard"></i> Inicio</a>
    </li>
  </ol>
</section>


<!-- Main content -->
<section class="content">


  <div class="box-header with-border">
    <div class="margin pull-right">
      <div class="btn-group">

        <button class="btn btn-success" (click)="nuevo()">
          <span class="fa fa-plus-square" aria-hidden="true"></span> Nuevo</button>

      </div>
    </div>
  </div>


  <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <accordion>
      <accordion-group heading="Búsqueda avanzada">
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-sm-3 control-label">Número Documento</label>

                <input formControlName="numerodocumento" type="text" class="form-control" name="documento" id="documento" placeholder="Digíte documento"
                  (keydown.enter)=" buscarLLegadas()">
                <div *ngIf="numerodocumento.invalid && (numerodocumento.dirty || numerodocumento.touched)">
                  <div class="label-error" *ngIf="numerodocumento.errors['minlength']">
                    El Número de Documento debe tener al menos 7 caracteres de largo.
                  </div>
                  <div class="label-error" *ngIf="numerodocumento.errors['maxlength']">
                    El Número de Documento solo debe tener 11 caracteres de largo.
                  </div>
                  <div class="label-error" *ngIf="numerodocumento.errors['pattern']">
                    El Formato es Incorrecto.
                  </div>
                </div>
                &nbsp;
                <div class="form-group">
                  <label class="col-sm-3 control-label">Tipo Tardaza </label>
                  <ng-select placeholder="Seleccione" id="tipotardanza" formControlName="tipotardanza" [options]="TipoTardanza">
                  </ng-select>
                </div>


              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="col-sm-3 control-label">Nombre Completo</label>

                <input formControlName="nombrecompleto" type="text" class="form-control" name="name" id="name" placeholder="Digíte nombre"
                  (keydown.enter)=" buscarLLegadas()">
                <div *ngIf="nombrecompleto.invalid && (nombrecompleto.dirty || nombrecompleto.touched)">

                  <div class="label-error" *ngIf="nombrecompleto.errors['pattern']">
                    El campo nombre completo no puede contener numeros.
                  </div>
                </div>

              </div>
            </div>



          </div>
        </div>
        <div class="box-footer">
          <div class="margin pull-right">
            <button type="button" class="btn btn-default" (click)="limpiar()">
              <i class="fas fa-broom"></i>
              Limpiar
            </button>
            &nbsp;
            <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="buscarLLegadas()">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              Buscar
            </button>
          </div>
        </div>


      </accordion-group>
    </accordion>
  </form>


  <div class="box box-success">
    <div class="box-header">
      <h3 class="box-title"></h3>
      <div class="box-tools">
      </div>
    </div>

    <div class="box-body no-padding">
      <div class="box-body table-responsive no-padding">
        <table class="table table-bordered" [mfData]="lstLlegadastarde" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
          <thead>
            <tr>
              <th style="width: 10%;text-align: center">
                Número Documento
              </th>
              <th style="width: 10%;text-align: center">
                Nombre Completo
              </th>
              <th style="width: 10%;text-align: center">
                Cargo
              </th>
              <th style="width: 10%;text-align: center">
                Área
              </th>
              <th style="width: 10%;text-align: center">
                Fecha
              </th>
              <th style="width: 10%;text-align: center">
                Hora entrada
              </th>
              <th style="width: 10%;text-align: center">
                Detalles
              </th>
              <th style="width: 10%;text-align: center">
                Tipo Tardanza
              </th>

              <th style="width: 10%;text-align: center">Acciones</th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let resultado of mf.data;let i = index">
              <td style="text-align: center">
                <span class="badge bg-green">{{ resultado.documento }}</span>
              </td>
              <td style="text-align: center">{{ resultado.primernombre}} {{ resultado.primerapellido}}</td>
              <td style="text-align: center"> {{ resultado.cargo}}</td>
              <td style="text-align: center"> {{ resultado.area}}</td>
              <td style="text-align: center"> {{ resultado.fecha}}</td>
              <td style="text-align: center"> {{ resultado.hora_llegada}}</td>
              <td style="text-align: left"> {{ resultado.detalle}}</td>
              <td style="text-align: left"> {{ resultado.tipotardanza}}</td>
              <td style="text-align: center">
                <button class="btn btn-warning btn-margin" tooltip="Editar llegada tarde." placement="top" (click)="llegadaTardeSelectOnClick(resultado,i);">
                  <span class="btn-label">
                    <i class="fa fa-pencil"></i>
                  </span>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>