<carousel>
  <slide>
    <img src="assets/images/nature/3.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">

    </div>
  </slide>
  <!-- <slide>
    <img src="assets/images/nature/8.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
  
    </div>
  </slide>
  <slide>
    <img src="assets/images/nature/1.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      
    </div>
  </slide>
  <slide>
  <img src="assets/images/nature/2.jpg" alt="third slide" style="display: block; width: 100%;">
  <div class="carousel-caption d-none d-md-block">
    
  </div>
</slide> -->
</carousel>
