<div class="modal-body">
    <div class="box-body no-padding">
      <div class="box-body table-responsive no-padding">
        <table class="table table-bordered" [mfData]="listExperiencia" #mf="mfDataTable" [mfRowsOnPage]="5">
          <thead class="thead-dark">
            <tr>
              <th style="text-align: center">
                <i class="fas fa-key"></i>
              </th>
              <th>Soporte Experiencia</th>
              <th>Entidad</th>
              <th>Cargo</th>
              <th>Area</th>
              <th>Tipo</th>
              <th>Dirección</th>
              <th>Telefono</th>
              <th>Correo Electronico</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let det of mf.data; let i = index;">
              <td style="text-align: center">{{det.id}}</td>
              <td>{{det.soporte_experiencia}}</td>
              <td>{{det.entidad}}</td>
              <td>{{det.cargo}}</td>
              <td>{{det.area}}</td>
              <td>{{det.tipo}}</td>
              <td>{{det.direccion}}</td>
              <td>{{det.telefono}}</td>
              <td>{{det.email}}</td>
              <td>{{det.fechainicio}}</td>
              <td>{{det.fechafin}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>